<div class="medium-list" style="margin-top:70px">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <mat-card class="ticket-card">
        <mat-card-header class="header"> 
          <mat-label><mat-icon>receipt</mat-icon></mat-label>
          <mat-label><mat-card-title>Ticket</mat-card-title></mat-label>
        </mat-card-header>
        <mat-card-content>
        <mat-label><b>From:</b></mat-label> &nbsp;
        <mat-label>{{from}}</mat-label>
        <br>
        <mat-label><b>To:</b></mat-label> &nbsp;
        <mat-label>{{to}}</mat-label>
        <br>
        <mat-label><b>Departure Date:</b></mat-label> &nbsp;
        <mat-label>{{depDate | date}}</mat-label>
        <br>
        <mat-label><b>Pickup Time:</b></mat-label> &nbsp;
        <mat-label>{{pickupTime}}</mat-label>
        <br>
        <mat-label><b>Pickup Location:</b></mat-label> &nbsp;
        <mat-label>{{pickupLoc}}</mat-label>
        <!-- <br>
        <mat-label><b>Driver Name:</b></mat-label> &nbsp; 
        <mat-label></mat-label>
        <br>
        <mat-label><b>Total Fare:</b></mat-label> &nbsp;
        <mat-label></mat-label> -->
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>